<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings>
		<!--<add name="TestConIB" connectionString="Driver={Easysoft Interbase ODBC};DB=dpserver2:e:\db\feb_2009_TRACKING.GDB;UID=sysdba;pwd=masterkey;ROLE=sysdba" />-->
		<!--<add name="conStrInvoice" connectionString="Driver={Easysoft Interbase ODBC};DB=scanning1:c:\db\sql_test_TRACKING.GDB;UID=sysdba;pwd=masterkey;ROLE=sysdba" />-->

		<add name="conStrInvoice" connectionString="Driver={Easysoft Interbase ODBC};DB=dpserver2:e:\db\feb_2009_TRACKING.GDB;UID=sysdba;pwd=masterkey;ROLE=sysdba" />
		<add name="conStrIBLive" connectionString="Driver={Easysoft Interbase ODBC};DB=dpserver2:e:\db\TRACKING.GDB;UID=sysdba;pwd=masterkey;ROLE=sysdba" />
		<!--<add name="conStrIBLive" connectionString="Driver={Easysoft Interbase ODBC};DB=dpserver2:e:\db\feb_2009_TRACKING.GDB;UID=sysdba;pwd=masterkey;ROLE=sysdba" />-->
		<add name="conStrIB" connectionString="Driver={Easysoft Interbase ODBC};DB=dpserver2:e:\db\TRACKING.GDB;UID=sysdba;pwd=masterkey;ROLE=sysdba" />
		<add name="conStrSQL" connectionString="server=192.9.200.157;database=dpmis;uid=sa;pwd=masterkey" />
		<add name="ConnectionString" connectionString="Driver={Easysoft Interbase ODBC};uid=sysdba;pwd=masterkey;db=Scanning1:C:\db\02jan2009_TRACKING.GDB;role=sysdba" providerName="System.Data.Odbc" />

		<!--<add name="dublinINVXML" connectionString="D:\sourcesafe\Web Application\datapagemis\InvoiceTemplates\Dublin\invoice_values.xml" />
		<add name="dublinPCXML" connectionString="\\D:\sourcesafe\Web Application\datapagemis\InvoiceTemplates\Dublin\journal_prices_2008.xml" />-->
		
		
		<!--<add name="dublinINVXML" connectionString="\\dpserver2\db\dublin\invoice_values.xml" />-->
		<add name="dublinINVXML" connectionString="\\dpserver2\db\dublin\invoice_values.xml" />
		<add name="dublinPCXML" connectionString="\\dpserver2\db\dublin\journal_prices_2009.xml" />
		
		<!--<add name="indiaINVXML" connectionString="\\dpserver2\db\suresh\invoice_values.xml" />-->
		<add name="indiaINVXML" connectionString="\\dpserver2\db\suresh\invoice_values.xml" />
		
		<add name="indiaPCXML" connectionString="\\dpserver2\db\suresh\journal_prices_2009.xml" />
		
		<add name="dubTestINVXML" connectionString="\\dpserver2\db\dublin\Test_invoice_values.xml" />
		<add name="indTestINVXML" connectionString="\\dpserver2\db\suresh\Test_invoice_values.xml" />

		<!--<add name="PDFFilePathDub" connectionString="E:\Dot Net Source\datapagemis\InvoiceTemplates\Dublin\output\" />
	 <add name="PDFFilePathInd" connectionString="E:\Dot Net Source\datapagemis\InvoiceTemplates\India\output\" />-->
		<!--<add name="PDFFilePathDub" connectionString="D:\SourceSafe\Web Application\datapagemis\InvoiceTemplates\Dublin\output\" />
	 <add name="PDFFilePathInd" connectionString="D:\SourceSafe\Web Application\datapagemis\InvoiceTemplates\India\output\" />-->

		<add name="PDFFilePathDub" connectionString="\\dpserver2\dbInvoicePDF\Dublin\" />
		<add name="PDFFilePathInd" connectionString="\\dpserver2\dbInvoicePDF\India\" />
		<add name="urladd" connectionString="server" />
		<add name="PDFFilePathDublinInvoiceSql" connectionString="\\dpserver2\dbInvoicePDF\sqldublin\" />
		<add name="PDFFilePathIndiaInvoiceSql" connectionString="\\dpserver2\dbInvoicePDF\sqlindia\" />

	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->


	<customErrors mode="On" defaultRedirect="customerror.aspx">
			<error statusCode="403" redirect="construction.aspx"/>
			<error statusCode="404" redirect="construction.aspx"/>
		</customErrors>
		<httpHandlers>
			<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
		</httpHandlers>
	</system.web>
	<location allowOverride="true" inheritInChildApplications="true">
		<appSettings>
   <add key="CrystalImageCleaner-AutoStart" value="true" />
   <add key="CrystalImageCleaner-Sleep" value="60000" />
   <add key="CrystalImageCleaner-Age" value="120000" />
   <add key="BCCAddress" value="" />
      <add key="Outstanding_Export_Path" value="\\dpserver2\db\Outstanding_Invoices\"/>
      <add key="Outstanding_Export_Template_Path" value="\\dpserver2\db\Outstanding_Invoices\templates\"/>
	  <add key="Outstanding_Export_Template_Path_Sql" value="C:\Outstanding_Invoices\templates_sql\"/>
      <add key="CRM-SMTP-IP" value="192.9.200.217" />
      <add key="CRM-SMTP-PORT" value="25" />
	  <add key="SAMFollowupmail_fromaddress" value="jincy@datapage.org" />
   <add key="SAMFollowupmail_aliasname" value="Jincy" />
  	<add key="Invoicemail_host" value="192.9.200.217" />
	<add key="Invoicemail_port" value="25"/>
	<add key="Invoice_from" value="accounts@datapage.org" />
	<add key="accounts_password" value="Reset*123"/>
	<add key="invoicedrptpath"  value="\\dpserver2\dp\dpagemis\CrystalReports\" />
    <add key="Article_Details_Project" value="\\dpserver2\db\Article_Details\" />
  </appSettings>
	</location>
</configuration>