<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings>
		<add name="conStrIBLive1" connectionString="server= 192.9.200.177;database=dp_mis_live;uid=sa;pwd=masterkey"/>
		<add name="conStrSQL" connectionString="server= 192.9.200.177;database=dp_mis_live;uid=sa;pwd=masterkey"/>
		<!--<add name="conStrIBLive" connectionString="Driver={Easysoft Interbase ODBC};DB=dpserver2:e:\db\TRACKING.GDB;UID=sysdba;pwd=masterkey;ROLE=sysdba"/>
    <add name="conStrIB" connectionString="Driver={Easysoft Interbase ODBC};DB=dpserver2:e:\db\TRACKING.GDB;UID=sysdba;pwd=masterkey;ROLE=sysdba"/>-->
		<add name="dublinINVXML" connectionString="\\192.9.200.177\Invoices_NEW_MIS\dublin\invoice_values.xml"/>
		<add name="dublinPCXML" connectionString="\\192.9.200.177\Invoices_NEW_MIS\dublin\journal_prices_2009.xml"/>
		<add name="indiaINVXML" connectionString="\\192.9.200.177\Invoices_NEW_MIS\suresh\invoice_values.xml"/>
		<add name="indiaPCXML" connectionString="\\192.9.200.177\Invoices_NEW_MIS\suresh\journal_prices_2009.xml"/>
		<add name="dubTestINVXML" connectionString="\\192.9.200.177\Invoices_NEW_MIS\dublin\Test_invoice_values.xml"/>
		<add name="indTestINVXML" connectionString="\\192.9.200.177\Invoices_NEW_MIS\suresh\Test_invoice_values.xml"/>
		<add name="PDFFilePathDub" connectionString="\\192.9.200.177\Invoices_NEW_MIS\dbInvoicePDF\Dublin\"/>
		<add name="PDFFilePathInd" connectionString="\\192.9.200.177\Invoices_NEW_MIS\dbInvoicePDF\India\"/>
	</connectionStrings>
	<system.web>
		<httpRuntime maxRequestLength="1048576" executionTimeout="15000"/>
		<authentication mode="Windows"/>
		<!--
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors> -->
		<customErrors mode="On" defaultRedirect="CustomError.aspx">
			<error statusCode="403" redirect="CustomError.aspx"/>
			<error statusCode="404" redirect="404Error.aspx"/>
			<!--<error statusCode="403" redirect="404Error.aspx"/>
      <error statusCode="404" redirect="404Error.aspx"/>-->
		</customErrors>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
			</assemblies>
		</compilation>
		<httpHandlers>
			<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<location allowOverride="true" inheritInChildApplications="true">
		<appSettings>
			<add key="Mac_address" value="D4BED9CD6F84"/>
			<add key="CrystalImageCleaner-AutoStart" value="true"/>
			<add key="CrystalImageCleaner-Sleep" value="60000"/>
			<add key="CrystalImageCleaner-Age" value="120000"/>
			<add key="BCCAddress" value=""/>
			<add key="Outstanding_Export_Path" value="\\dpserver2\db\Outstanding_Invoices\"/>
			<add key="Outstanding_Export_Template_Path" value="\\dpserver2\db\Outstanding_Invoices\templates\"/>
			<add key="Outstanding_Export_Template_Path_Sql" value="C:\Outstanding_Invoices\templates_sql\"/>
			<add key="CRM-SMTP-IP" value="192.9.200.217"/>
			<add key="CRM-SMTP-PORT" value="25"/>
			<add key="SAMFollowupmail_fromaddress" value="nathiya@datapage.org"/>
			<add key="SAMFollowupmail_aliasname" value="Nathiya"/>
			<add key="FPMFollowupmail_aliasname1" value="Teena Lawrence"/>
			<add key="FPMFollowupmail_aliasname2" value="Kavitha Sathish"/>
			<add key="FPMFollowupmail_aliasname3" value="Saranyadevi"/>
			<add key="FPMFollowupmail_aliasname4" value="Sivachandran"/>
			<add key="FPMFollowupmail_aliasname5" value="Vijayalakshmi"/>
			<add key="Invoicemail_host" value="192.9.200.217"/>
			<add key="Invoicemail_port" value="25"/>
			<add key="Invoice_from" value="accounts@datapage.org"/>
			<add key="accounts_password" value="Reset*123"/>
			<add key="invoicedrptpath" value="\\dpserver2\dp\dpagemis\CrystalReports\"/>
			<add key="Article_Details_Project" value="\\dpserver2\db\Article_Details\"/>
		</appSettings>
	</location>
</configuration>
